<div aqf-config="forgotPasswordController.kioskConfig">
	<div class="logo-forgot-password text-center">
		<img ng-src="{{forgotPasswordController.kioskConfig.meta.logo}}"
			 alt="{{'forgotpassword.altImage' | translate }}">
	</div>

	<div class="awk-forgot-password">
		<div class="forgot-password-header">
			<h1 translate="forgotpassword.forgotpassword"></h1>
		</div>
		<div class="forgot-password-content">
			<div class="messages">
				<div ng-class="message.type === 'error' ? 'alert alert-danger' : message.type === 'msg' ? 'alert alert-success' : ''"
					 ng-repeat="message in forgotPasswordController.messages">{{message.text}}
				</div>
			</div>
			<form name="forgotPasswordController.form" ng-submit="forgotPasswordController.forgotPassword()">
				<div class="input-group form-group"
					 ng-class="{ 'has-error': forgotPasswordController.form.email.$invalid && forgotPasswordControllerforgotPasswordController.form.$submitted }">
					<label for="email" class="input-group-addon input-group-addon-email">
						<i class="fa fa-envelope" tooltip="{{ 'signup.email' | translate }}"></i>
					</label>
					<input class="form-control form-input" id="email" type="email" name="email"
						   ng-model="forgotPasswordController.model.email"
						   placeholder="{{ 'signup.email' | translate }}" required/>
				</div>
				<input class="btn btn-primary forgot-password-btn" type="submit"
					   value="{{ 'forgotpassword.button' | translate }}"/>
			</form>
		</div>
		<div class="forgot-password-footer">
			<a ui-sref="home" translate="forgotpassword.home"></a>
			<!--<span ng-if="forgotPasswordController.kioskConfig.authConfig.showCreateAccount">-</span>
			<a ui-sref="signup"
			   ng-if="forgotPasswordController.kioskConfig.authConfig.showCreateAccount"
			   translate="signup.signup"></a>-->
		</div>
	</div>
</div>
